{$CASHTRACE_DOMAIN} {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy cashtrace-backend:8000
    }
    reverse_proxy * cashtrace-frontend:3000
}

{$FIREFLY_DOMAIN} {
    reverse_proxy app:8080
}
